@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

*{
    font-family: 'Ibarra Real Nova', serif;
}

header{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(119, 119, 119);
}

.tarjetasRopa{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: aqua;
    border-radius: 10px;
}